@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');

/**************************/
/* VARIABLES */
/**************************/

:root {
  --primary: #404040;
  --secondary: #40aadd;
  --third: #506bbb;
  --fourth: #fafafa;
  --fifth: #eeeeee;
  --sixth: #aaa;
  --warning: #ff1a1a;
}

* {
  font-family: 'Jost', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--primary);
}

*:focus {
  outline: none;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  /* Does NOT work on Safari */
  /* scroll-behavior: smooth; */
  word-break: break-word;
}

body {
  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
  line-height: 1;
  font-weight: 400;
  background: var(--fourth);
}

p {
  margin-bottom: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3.2rem 0 3.2rem;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 7.594rem;
}

h2 {
  font-size: 5.063rem;
}

h3 {
  font-size: 3.375rem;
}

h4 {
  font-size: 2.25rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1rem;
}

a,
button,
li,
p,
label,
input,
textarea {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 1.2px;
}

ul {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  padding-inline-start: 4rem;
}

small,
.text_small {
  font-size: 0.667rem;
}

hr {
  background: var(--primary);
  padding: 0;
  height: 1px;
  border: none;
  margin: 1rem 0;
}

.disabled {
  opacity: 0.3;
  cursor: not-allowed !important;
}

/**************************/
/* SPACING */
/**************************/

/* PADDING */
.pt-0 {
  padding-top: 0rem !important;
}
.pt-2 {
  padding-top: 2rem !important;
}
.pt-4 {
  padding-top: 4rem !important;
}
.pt-6 {
  padding-top: 6rem !important;
}

.pl-0 {
  padding-left: 0rem !important;
}
.pl-2 {
  padding-left: 2rem !important;
}
.pl-4 {
  padding-left: 4rem !important;
}
.pl-6 {
  padding-left: 6rem !important;
}

.pb-0 {
  padding-bottom: 0rem !important;
}
.pb-2 {
  padding-bottom: 2rem !important;
}
.pb-4 {
  padding-bottom: 4rem !important;
}
.pb-6 {
  padding-bottom: 6rem !important;
}

.pr-0 {
  padding-right: 0rem !important;
}
.pr-2 {
  padding-right: 2rem !important;
}
.pr-4 {
  padding-right: 4rem !important;
}
.pr-6 {
  padding-right: 6rem !important;
}

/* MARGIN */
.mt-0 {
  margin-top: 0rem !important;
}
.mt-2 {
  margin-top: 2rem !important;
}
.mt-4 {
  margin-top: 4rem !important;
}
.mt-6 {
  margin-top: 6rem !important;
}

.ml-0 {
  margin-left: 0rem !important;
}
.ml-2 {
  margin-left: 2rem !important;
}
.ml-4 {
  margin-left: 4rem !important;
}
.pl-6 {
  margin-left: 6rem !important;
}

.mb-0 {
  margin-bottom: 0rem !important;
}
.mb-2 {
  margin-bottom: 2rem !important;
}
.mb-4 {
  margin-bottom: 4rem !important;
}
.mb-6 {
  margin-bottom: 6rem !important;
}

.mr-0 {
  margin-right: 0rem !important;
}
.mr-2 {
  margin-right: 2rem !important;
}
.mr-4 {
  margin-right: 4rem !important;
}
.mr-6 {
  margin-right: 6rem !important;
}

/**************************/
/* THE ANCHOR ELEMENT & PSEUDO-CLASSES — THE FOUR LINKS STATES */
/**************************/

a:link {
  color: var(--secondary);
  text-decoration: none;
}

a:visited {
  color: var(--secondary);
}

a:hover {
  color: var(--third);
}

a:active {
  color: var(--secondary);
  outline: none;
}

/**************************/
/* BUTTON */
/**************************/

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  background: var(--secondary);
  color: #fff;

  text-decoration: none;
  font-weight: 500;
  padding: 1.2rem 2.2rem;
  text-align: center;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;

  /* Put transition on original "state" */
  transition: all 0.2s;
}

.btn:hover,
.btn:active {
  background: var(--third);
  color: #fff;
}

/* Modifier */
.btn--outline,
.btn--outline:link,
.btn--outline:visited {
  box-shadow: inset 0 0 0 2px var(--secondary);
  background: var(--fourth);
  color: var(--primary);
}
.btn--outline:hover {
  box-shadow: none;
  background: var(--third);
  color: #fff;
}
.btn--outline:active {
  box-shadow: inset 0 0 0 2px var(--secondary);
  background: var(--fourth);
  color: var(--primary);
}

/**************************/
/* HEADER & NAVIGATION */
/**************************/

.header {
  background: var(--fifth);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10.6rem;
  padding: 0 4.8rem;
  margin: 0 0 8rem 0;
  position: relative;
}

/**************************/
/* LOGO */
/**************************/

.logo:link,
.logo:visited {
  color: var(--primary);
  font-size: 4rem;
  font-weight: 500;
}
.logo:hover {
  color: var(--primary);
}
.logo:active {
  color: var(--primary);
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-list a:link,
.main-nav-list a:visited,
.main-nav-list button {
  color: var(--secondary);
  background: none;
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  letter-spacing: 0;
}

/* when holding click down on anchor tag */
.main-nav-list a:active {
  color: var(--secondary);
}

.main-nav-list a:hover,
.main-nav-list button:hover,
.main-nav-list .router-link-active,
.main-nav-list .router-link-active:visited {
  color: var(--third);
}

/**************************/
/* GENERAL REUSABLE COMPONENTS */
/**************************/

section {
  padding: 9.6rem 0;
}

.container {
  /* max-width: 120rem; */
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.2;
  margin: 4rem;
  color: var(--fourth);
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.margin-right-sm {
  margin-right: 2rem !important;
}
/**************************/
/* GRID REUSABLE */
/**************************/

.grid {
  display: grid;
  gap: 3.2rem;
  row-gap: 3.2rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid--3-cols {
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid--4-cols {
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid--center-v {
  align-items: center;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--third);
}

/**************************/
/* DOCUMENTS */
/**************************/

.single-document-in-documents {
  border: 1px solid var(--fifth);
  padding: 3.2rem 2.8rem 1.6rem 2.8rem;
  overflow: hidden;
  word-break: break-word;
}
.single-document-in-documents .single-document-cover-image {
  object-fit: cover;
  object-position: 50% 30%;
  width: 100%;
  height: 22rem;
}

.single-document-in-documents .single-document-user-name {
  display: inline-block;
  font-size: 1.6rem;
  font-style: italic;
  color: var(--sixth);
  margin: 2rem 0 0 0;
}

.single-document-in-documents .single-document-cat-links {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}
.single-document-in-documents .single-document-cat-link {
  font-size: 1rem;
  font-style: italic;
  margin: 2rem 0 0 0;
  letter-spacing: 0rem;
}

.single-document-in-documents .single-document-title {
  word-break: normal;
}
.single-document-in-documents .single-document-description {
  word-break: normal;
}

/**************************/
/* DOCUMENT DETAILS */
/**************************/

.single-document {
  padding: 3.2rem 2.8rem 1.6rem 2.8rem;
  overflow: hidden;
  word-break: break-word;
}
.single-document .single-document-cover-image {
  object-fit: cover;
  object-position: 50% 30%;
  width: 100%;
  height: 50rem;
}

.single-document .single-document-user-name {
  display: inline-block;
  font-size: 1.6rem;
  font-style: italic;
  color: var(--sixth);
  margin: 2rem 0 0 0;
}

.single-document .single-document-cat-links {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}
.single-document .single-document-cat-link {
  font-size: 1rem;
  font-style: italic;
  margin: 2rem 0 0 0;
  letter-spacing: 0rem;
}

.single-document .single-document-title {
  word-break: normal;
}
.single-document .single-document-description {
  word-break: normal;
}

/**************************/
/* PRICING SECTION */
/**************************/

.pricing,
.list {
  border: 1px solid var(--fifth);
  padding: 3.2rem 1.6rem 4.8rem 2.8rem;
  overflow: hidden;
  word-break: break-word;
}

.list ul {
  padding: 0;
}

.list-item {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1.6rem;
  line-height: 2.6;
  list-style: none;
}

/**************************/
/* FORM ADD PLAYLIST */
/**************************/

.form-add-playlist {
  max-width: 90rem;
  border: 1px solid var(--fifth);
  margin-top: 2rem;
  border: none;
  padding: 0;
}

/**************************/
/* FORM CREATE */
/**************************/

.form-add-single-document-post {
  max-width: 90rem;
}
.form-add-single-document-post .categories {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.form-add-single-document-post .single-category-pill span {
  background: var(--secondary);
  color: var(--fourth);
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 5rem;
  font-size: 1.6rem;
  cursor: pointer;
  display: inline-block;
}

/**************************/
/* FORM ACCOUNT */
/**************************/

.form-account {
  max-width: 90rem;
}

/**************************/
/* FORM */
/**************************/

form {
  max-width: 50rem;
  margin: 0 auto;
  padding: 4rem;
  border: 1px solid var(--fifth);
}

label {
  display: inline-block;
  margin: 1rem 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 2rem 0 0 0;
}
input,
select {
  display: block;
  padding: 2rem 1rem 2rem 1rem;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border: 1px solid var(--fifth);
  border-radius: 0;
}
input[type='checkbox'] {
  display: inline-block;
  width: 1.6rem;
  margin: 0 10px 0 0;
  position: relative;
  top: 2px;
}

textarea {
  display: block;
  padding: 2rem 0 1rem 1rem;
  width: 100%;
  min-height: 200px;
  box-sizing: border-box;
  border: 1px solid var(--fifth);
  border-radius: 0;
}

.error {
  color: var(--warning);
  font-size: 1.6em;
  font-weight: bold;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1rem 1rem 0rem 0;
  min-height: 3rem;
}

form .input-required {
  font-style: italic;
  text-transform: lowercase;
  color: var(--sixth);
}

/* file upload */
form ::-webkit-file-upload-button {
  border: 2px solid var(--primary);
  background: var(--fourth);
  color: var(--primary);
  border-radius: 0;
  padding: 1rem 1.6rem;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: inherit !important;
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  width: 100%;
  padding: 4rem 1rem;
  margin-top: 10rem;
  border-top: 1px solid var(--fifth);
}

.copyright {
  font-size: 1.6rem;
  margin: 0;
}

/**************************/
/* QUERY */
/**************************/

/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */
/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .header {
    padding: 0 3.2rem;
    position: sticky;
    width: 100%;
    height: 12rem;
    margin-bottom: 5rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }
}
